.header {
  background-color: white;
  padding: 0px;
  /* Other styles */




}

@media (max-width: 768px) {
  .logo {
    /* Hide desktop menu on smaller screens */
    /* display: none; */
    max-width: 250px;
    margin-top: 15px;


  }


  .header {
    min-height: 100px;
  }


}

.logo {
  max-height: 100px;

}

.logo-div {
  display: flex;
  justify-content: center;


}
.mobile-btn-lang {
  background-color: #FF3131 !important;
  color: whitesmoke;
  border: none;

  border-radius: 5px;
  margin: 2px;
  transition: all.2s ease-in-out;
  font-size: 18px;
  cursor: pointer !important;
}
.lang-button-div {
  position: absolute;
  /* background-color: #FF3131 !important; */
  color: whitesmoke;
  border: none;
  min-width: 160px;
  border-radius: 5px;
  top: 15px;
  right: 18px;
  transition: all.2s ease-in-out;
  font-size: 18px !important;
  cursor: pointer !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 75px;
}

@media (max-width: 425px) {
  .logo {
    /* Hide desktop menu on smaller screens */
    /* display: none; */
    max-width: 250px;
    margin-top: 15px;
    margin-left: -145px;

  }
  


  .header {
    min-height: 100px;
  }


}